@import '~antd/dist/antd.css';

body {
  background: #f0f2f5;
}

.App {
  display: flex;
}

.site-layout .site-layout-background {
  background: #fff;
  text-align: center;
}

.site-layout-background p {
  padding: 10px 56px;
}

.ant-layout-sider {
  height: 100vh;
  overflow-y: scroll;
}
