@import '~antd/dist/antd.css';

body {
  background: #f0f2f5;
}

.App {
  display: flex;
}

.ant-layout-sider-has-trigger {
  height: 100vh;
}

.ant-menu-sub {
  min-height: 100vh;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-layout-sider-has-trigger {
  height: auto;
}
